---
import { Image } from 'astro:assets';
import heroImage from '../images/hero-img.png';

const navItems = [
  {
    name: 'Home',
    path: '/',
  },
  {
    name: 'Why?',
    path: '/#why',
  },
  {
    name: 'Sample',
    path: '/#sample',
  },
  {
    name: 'Our team',
    path: '/#team',
  },
];

const heroSection = {
  title: 'Redefining Healthcare with AI',
  description:
    'Harnessing the latest in AI and NLP to reduce prescription errors and improve patient safety. Our platform analyzes prescriptions with unrivaled accuracy, catching potential mistakes before they reach the patient.',
  img: heroImage,
};
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />
    <title>Document</title>
  </head>
  <body class='bg-blue-200 text-gray-800 font-light'>
    <header class='h-screen relative'>
      <div
        class='flex flex-col gap-1 absolute top-6 left-6 mobile-nav-btn z-50 md:hidden'
      >
        <div class='w-9 h-1 bg-blue-600'></div>
        <div class='w-9 h-1 bg-blue-600'></div>
        <div class='w-9 h-1 bg-blue-600'></div>
      </div>
      <nav
        class='container mx-auto flex md:justify-between items-center py-12 px-12 md:px-6 md:relative absolute top-0 left-0 md:bg-transparent bg-white h-screen md:h-auto w-4/5 md:w-auto md:flex-row flex-col justify-start z-40 md:gap-0 gap-8 -translate-x-full md:translate-x-0 nav-bar transition-transform'
      >
        <a class='font-bold text-3xl'>SafeRX</a>
        <ul class='flex justify-end items-center gap-8 md:flex-row flex-col'>
          {
            navItems.map(({ name, path }) => {
              return (
                <li>
                  <a href={path}>{name}</a>
                </li>
              );
            })
          }
          <li>
            <a
              href='/#contact'
              class='bg-blue-500 px-6 py-3 rounded-full text-white'
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
      <div class='absolute bottom-0 grid grid-cols-12 h-[90vh] sm:h-[80vh]'>
        <div
          class='col-span-full lg:col-span-5 lg:col-start-1 2xl:col-start-3 2xl:col-span-4 xl:ml-24 flex flex-col justify-end items-center px-2 gap-3 2xl:gap-6 2xl:ml-24 2xl:mt-10 sm:mb-10 md:px-12 lg:items-start lg:justify-start'
        >
          <h1
            class='xl:text-7xl 2xl:text-9xl font-bold text-blue-500 lg:text-6xl text-3xl sm:text-5xl text-center lg:text-left'
          >
            {heroSection.title}
          </h1>
          <p
            class='xl:text-xl lg:text-lg 2xl:text-2xl text-gray-500 text-center lg:text-left'
          >
            {heroSection.description}
          </p>
          <a
            class='bg-blue-500 px-6 py-3 rounded-full text-white 2xl:text-2xl 2xl:px-12 2xl:py-6'
            href='/#contact'>Discover more</a
          >
        </div>
        <Image
          src={heroSection.img}
          alt='blah'
          widths={[240, 400, 600, 800]}
          class='h-auto object-contain max-h-[75vh] col-span-full lg:col-start-6 2xl:col-start-7 self-end xl:col-start-6 sm:col-start-2 sm:col-span-10 md:col-span-full'
        />
      </div>
    </header>
  </body>

  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  </style>

  <script>
    document.querySelector('.mobile-nav-btn')?.addEventListener('click', () => {
      document.querySelector('.nav-bar')?.classList.toggle('translate-x-0');
    });
  </script>
</html>
